.card {
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  background-color: rgb(255, 255, 255);
  padding: 3%;
  width: 50%;
}

.formCard {
  margin: 150px 0px 50px 0px;
  form {
    display: flex;
    flex-direction: column;
    label {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      font-weight: bold;
      input {
        padding: 0.8%;
        margin-top: 5px;
      }
    }

    button {
      width: 150px;
      padding: 2% 0%;
      background-color: rgb(170, 199, 238);
      border-radius: 8px;
      border: none;
      transition: 0.3s;
      &:hover {
        background-color: rgb(243, 198, 217);
        cursor: pointer;
        transform: translateY(-2px);
      }
    }
  }
}

.errModal {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  background-color: rgb(255, 168, 97);
  color: white;
  font-weight: bold;
  z-index: 10;
  & div:nth-child(1) {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  button {
    position: absolute;
    right: 10%;
    bottom: 10%;
    background-color: white;
    border: none;
    padding: 1% 4%;
    border-radius: 8px;
    cursor: pointer;
  }
}
